[Unit]
Description=Home Assistant
After=network-online.target
After=mosquitto.service

[Service]
Type=simple
User=maurice
ExecStart=/home/maurice/HomeAssistantConfigs/runHA.sh

[Install]
WantedBy=multi-user.target
